
html{
  height: 100%;
  scroll-behavior: smooth;
  cursor: url("cursor.png");
}
body{
  background: white;
  min-height: 100%;
}

#mainScreen{
  flex-wrap: wrap;
  height: 100%;
  margin: -10px;
}
#mainMenu{

  height: 95vh;
}

#mainScreen ul {
  padding-right: 20px;
    padding-top: 45vh;
    white-space: nowrap;
}

#mainScreen li{
  list-style-type: none;
  font-family: “Arial Bold”, sans-serif;
  font-weight: bold;
}

#mainScreen li a{
  color: black;
  font-size: 6vw;
  text-decoration: none;
  letter-spacing: 10px;
  transition: all 1s ease;
}

#mainScreen li a:hover{
  letter-spacing: 20px;
  background: linear-gradient(90deg, rgba(119,114,189,1) 0%, rgba(117,117,124,1) 35%, rgba(47,47,47,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* 50 % */
#blackSpace{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: black;
    color:white;
    font-family: “Arial Bold”, sans-serif;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 50px;
}

#projects{
  height: 100vh;
  background-color: white;
  padding-top: 5vh;
  font-family: “Arial Bold”, sans-serif;
  font-weight: bold;
  padding-left: 50px;
}

#subject1_1{
  display:none;
}
