
html{
  height: 100%;
  scroll-behavior: smooth;
  cursor: url("cursor.png");
}
body{
background-color: black;  min-height: 100%;
}

/* 50 % */
#blackSpace{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-family: “Arial Bold”, sans-serif;
    font-weight: bold;
}

.var-highlight{
  color: #6860c1;
}
.string-highlight{
  color: rgba(0, 255, 133, 0.8);
}

#typewriter{
    font-size: 2vw;
    margin: 0;
    font-family: "Courier New";

    &:after{
      content: "|";
      animation: blink 500ms linear infinite alternate;
    }
}

@-webkit-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@-moz-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}


/* Style the navbar */
#navbar {
  height: 8vh;
  overflow: hidden;
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between;  background-color: #0cb070;
  font-family: "Courier New";

}

#navbar a {
  padding-top: 1%;
  color:black;
  text-align: center;
  top:50%;
font-size: 2vw;
 text-decoration: none;
 transition: all 1s ease;

}

#navbar a:nth-child(even) {
      color:white;
    }

#navbar a:hover{
  letter-spacing: 10px;

}

@media only screen and (max-width: 500px) {
  #navbar a {
    padding-top: 4%;
    color:black;
    text-align: center;
    top:50%;
  font-size: 5vw;
   text-decoration: none;

  }

  #navbar a:nth-child(even) {
        color:white;
      }
  #navbar a:hover{
    letter-spacing: 0px;
  }

  #typewriter{
      font-size: 2.7vw;
      margin: 0;
      padding-right: 2vw;
      font-family: "Courier New";

      &:after{
        content: "|";
        animation: blink 500ms linear infinite alternate;
      }
  }
}
