
html{
  height: 100%;
}
body{
  background: white;
  min-height: 100%;
}

#mainScreen{
  display: flex;
  white-space: nowrap;
  flex-wrap: wrap;
  height: 100%;
  margin: -10px;
}
#mainMenu{
  flex:1;
}

#mainScreen ul {
  padding-right: 20px;
}

#mainScreen li{
  list-style-type: none;
  font-family: “Arial Bold”, sans-serif;
  font-weight: bold;
}

#mainScreen li a{
  color: black;
  font-size: 4vw;
  text-decoration: none;
  letter-spacing: 10px;
  transition: all 1s ease;
}

#mainScreen li a:hover{
  letter-spacing: 20px;
  background: black;
  color: white;
}
/* 50 % */
#blackSpace{
    flex: 2;
    padding: 0;
    margin: 0;
    min-width: 45vw;
    height: 100vh;
    background-color: black;
}
