body{
  background: white;
  height: 100%;
  margin: 0;
  padding: 0;
}

#mainScreen{
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
}
#mainMenu{
  margin-top: 60vh;
  display: inline-block;
  padding-right: 20px;
}

#mainScreen li{
  list-style-type: none;
  font-family: “Arial Bold”, sans-serif;
  font-weight: bold;
}

#mainScreen li a{
  color: black;
  font-size: 5vw;
  text-decoration: none;
  letter-spacing: 10px;
  transition: all 1s ease;
}

#mainScreen li a:hover{
  letter-spacing: 30px;
  background: black;
  color: white;
}

#blackSpace{
    flex:1;
    background: black;
}
